div.table-responsive
	table.table.table-striped.mb-0
		thead
			tr
				//th
				th
				th.data-header.text-right Height

				if (!hideTimestampColumn)
					th.data-header.text-right
						span.border-dotted(title="UTC timestamp of the block.", data-toggle="tooltip") Date

				th.data-header.text-right Age
				th.data-header.text-right
					span.border-dotted(title="Time To Mine - The time it took to mine this block after the previous block. 'Fast' blocks (mined in < 1min) are shown in green; 'slow' blocks (mined in > 3min) are shown in red.", data-toggle="tooltip") T.T.M.
				th.data-header.text-right Miner
				th.data-header.text-right
					span.border-dotted(title="The number of transactions included in each block.", data-toggle="tooltip") N(tx)

				if (hasBlockStats)
					th.data-header.text-right
						span.border-dotted(title="The total output of all transactions in each block.", data-toggle="tooltip") Volume

				th.data-header.text-right
					span.border-dotted(title="The average fee (sat/B) for all block transactions.", data-toggle="tooltip") Avg Fee

				th.data-header.text-right Σ Fee

				th.data-header.text-right % Full

		tbody

			each block, blockIndex in blockList
				tr
					td
						if (blockListArgs.sort == "desc")
							small.text-muted #{(blockIndex + blockListArgs.offset + 1).toLocaleString()}
						else
							small.text-muted #{(blockIndex + blockListArgs.offset).toLocaleString()}

					td.data-cell.text-monospace.text-right
						if (global.specialBlocks && global.specialBlocks[block.hash])
							a(data-toggle="tooltip", title=(coinConfig.name + " Fun! See block for details"))
								i.fas.fa-certificate.text-primary.mr-1

						a(href=("/block-height/" + block.height)) #{block.height.toLocaleString()}

					- var timeAgoTime = moment.utc(new Date()).diff(moment.utc(new Date(parseInt(block.time) * 1000)));
					- var timeAgo = moment.duration(timeAgoTime);
					- var timeDiff = block.timeDiff ? moment.duration(block.timeDiff * 1000) : null;

					if (!hideTimestampColumn)
						td.data-cell.text-monospace.text-right
							- var timestampHuman = block.time;
							include timestamp-human.pug

					td.data-cell.text-monospace.text-right
						if (blockListArgs.sort != "asc" && blockIndex == 0 && blockListArgs.offset == 0 && timeAgoTime > (3 * 60 * 1000))
							- var timeAgoTime = block.time;
							span.text-danger.border-dotted(title="It's been > 3 mins since this latest block.", data-toggle="tooltip")
								include ./time-ago-text.pug
						else
							- var timeAgoTime = block.time;
							include ./time-ago-text.pug

					td.data-cell.text-monospace.text-right
						if (timeDiff)
							- var colorClass = "text-muted";
							if (timeDiff < 60000)
								- var colorClass = "text-success";
							if (timeDiff > 180000)
								- var colorClass = "text-danger";

							span.font-weight-light(class=colorClass)
								span #{timeDiff.format()}

						else
							if (block.height == 0)
								small.border-dotted.text-muted(title="Not applicable: genesis block has no previous block to compare to.", data-toggle="tooltip") N/A (genesis)
							else
								span.font-weight-light.text-muted -

					td.data-cell.text-monospace.text-right
						- var miner = block.miner
						include coinbase-display.pug

					td.data-cell.text-monospace.text-right #{block.nTx.toLocaleString()}

					if (hasBlockStats)
						td.data-cell.text-monospace.text-right
							- var currencyValue = new Decimal(block.stats.volume);
							- var currencyValueDecimals = 2;
							include ./value-display.pug

					td.data-cell.text-monospace.text-right
						- var currencyValue = new Decimal(block.stats.avgfeerate);
						- var currencyValueDecimals = 2;
						- currencyFormatTypeOverride = "sat";
						- currencyUnitSuffix = "/B"
						include ./value-display.pug
						- currencyFormatTypeOverride = null
						- currencyUnitSuffix = null

					td.data-cell.text-monospace.text-right
						- var currencyValue = new Decimal(block.totalFees).toDecimalPlaces(9);
						- var currencyValueDecimals = 2;
						include ./value-display.pug

					td.data-cell.text-monospace.text-right
						- var data = utils.formatLargeNumber(block.size, 1);
						- var fullRatio = block.size / miningInfo.currentmaxblocksize;
						- var full = new Decimal(100 * fullRatio).toDecimalPlaces(1);
						- var abbr = data[1].abbreviation || "";
						- var toolTip = `${data[0]} ${abbr}B`;
						//script
						//	| console.log(!{JSON.stringify(utils.formatLargeNumber(block.size, 1))});

						span.border-dotted(title=toolTip, data-toggle="tooltip") #{full}%
						span
						if (full > 90)
							img(src="/img/block-fullness-3.png", style="width: 18px; height: 18px;")
						else if (full > 50)
							img(src="/img/block-fullness-2.png", style="width: 18px; height: 18px;")
						else if (full > 25)
							img(src="/img/block-fullness-1.png", style="width: 18px; height: 18px;")
						else
							img(src="/img/block-fullness-0.png", style="width: 18px; height: 18px;")
