if (miner && miner.name)
    small.rounded.bg-primary.px-2.py-1(data-toggle="tooltip", title=(("Identified by: " + miner.identifiedBy))) #{utils.ellipsize(miner.name, 25)}
else if (miner && miner.possibleSignal)
    small.rounded.bg-primary.px-2.py-1(data-toggle="tooltip", title=(miner.coinbaseStr)) #{utils.ellipsize(miner.possibleSignal, 25)}
else if (miner && miner.coinbaseStr)
    small.rounded.bg-secondary.text-bold.px-2.py-1(data-toggle="tooltip", title=(miner.coinbaseStr)) ?
else
    small.rounded.bg-secondary.text-bold.px-2.py-1(data-toggle="tooltip", title=("No coinbase available")) ?
