extends layout

block headContent
	+title('Transaction Stats')
	
block content
	div.mt-5.mt-sm-3
	h3.text-bold Transaction Stats

	div.row
		div.col-lg-6
			div.card.shadow-sm.mb-3
				div.card-body
					h3.h6.mb-3.text-bold.text-center Transactions, 24hr
					hr
				
					script var txCountDataDay = [];
					each item, index in txStatsDay.txCounts
						script txCountDataDay.push({x:#{item.x}, y:#{item.y}});

					- var graphData = {id:"graphDay", dataVar:"txCountDataDay", labels:txStatsDay.txLabels, title:"Transactions, 24hr", xaxisTitle:"Block", xaxisStep:5, yaxisTitle:"Tx Count"};
					include ./includes/line-graph.pug

		div.col-lg-6
			div.card.shadow-sm.mb-3
				div.card-body
					h3.h6.mb-3.text-bold.text-center Transactions, 7day
					hr
					
					script var txCountDataWeek = [];
					each item, index in txStatsWeek.txCounts
						script txCountDataWeek.push({x:#{item.x}, y:#{item.y}});

					- var graphData = {id:"graphWeek", dataVar:"txCountDataWeek", labels:txStatsWeek.txLabels, title:"Transactions, 7day", xaxisTitle:"Block", xaxisStep:100, yaxisTitle:"Tx Count"};
					include ./includes/line-graph.pug

		div.col-lg-6
			div.card.shadow-sm.mb-3
				div.card-body
					h3.h6.mb-3.text-bold.text-center Transactions, 30day
				
					hr
					script var txCountDataMonth = [];
					each item, index in txStatsMonth.txCounts
						script txCountDataMonth.push({x:#{item.x}, y:#{item.y}});

					- var graphData = {id:"graphMonth", dataVar:"txCountDataMonth", labels:txStatsMonth.txLabels, title:"Transactions, 30day", xaxisTitle:"Block", xaxisStep:500, yaxisTitle:"Tx Count"};
					include ./includes/line-graph.pug

		div.col-lg-6
			div.card.shadow-sm.mb-3
				div.card-body
					h3.h6.mb-3.text-bold.text-center Transactions, All time
					hr

					script var txCountDataAlltime = [];
					each item, index in txStats.txCounts
						script txCountDataAlltime.push({x:#{item.x}, y:#{item.y}});

					- var graphData = {id:"graphAlltime", dataVar:"txCountDataAlltime", labels:txStatsMonth.txLabels, title:"Transactions, All time", xaxisTitle:"Block", xaxisStep:500, yaxisTitle:"Tx Count"};
					include ./includes/line-graph.pug


	div.row
		div.col-lg-6
			div.card.shadow-sm.mb-3
				div.card-body
					h3.h6.mb-3.text-bold.text-center Tx Rate, 24hr
					hr

					script var txRateDataDay = [];
					each item, index in txStatsDay.txRates
						script txRateDataDay.push({x:#{item.x}, y:#{item.y}});

					- var graphData = {id:"graphRateDay", dataVar:"txRateDataDay", labels:txStatsDay.txLabels, title:"Tx Rate, 24hr", xaxisTitle:"Block", xaxisStep:5, yaxisTitle:"Tx Per Sec"};
					include ./includes/line-graph.pug

		div.col-lg-6
			div.card.shadow-sm.mb-3
				div.card-body
					h3.h6.mb-3.text-bold.text-center Tx Rate, 7day
					hr

					script var txRateDataWeek = [];
					each item, index in txStatsWeek.txRates
						script txRateDataWeek.push({x:#{item.x}, y:#{item.y}});

					- var graphData = {id:"graphRateWeek", dataVar:"txRateDataWeek", labels:txStatsWeek.txLabels, title:"Tx Rate, 7day", xaxisTitle:"Block", xaxisStep:100, yaxisTitle:"Tx Per Sec"};
					include ./includes/line-graph.pug

		div.col-lg-6
			div.card.shadow-sm.mb-3
				div.card-body
					h3.h6.mb-3.text-bold.text-center Tx Rate, 30day
					hr

					script var txRateDataMonth = [];
					each item, index in txStatsMonth.txRates
						script txRateDataMonth.push({x:#{item.x}, y:#{item.y}});

					- var graphData = {id:"graphRateMonth", dataVar:"txRateDataMonth", labels:txStatsMonth.txLabels, title:"Tx Rate, 30day", xaxisTitle:"Block", xaxisStep:500, yaxisTitle:"Tx Per Sec"};
					include ./includes/line-graph.pug

		div.col-lg-6
			div.card.shadow-sm.mb-3
				div.card-body
					h3.h6.mb-3.text-bold.text-center Tx Rate, All time
					hr

					script var txRateDataAlltime = [];
					each item, index in txStats.txRates
						script txRateDataAlltime.push({x:#{item.x}, y:#{item.y}});

					- var graphData = {id:"graphRateAlltime", dataVar:"txRateDataAlltime", labels:txStatsMonth.txLabels, title:"Tx Rate, All time", xaxisTitle:"Block", xaxisStep:500, yaxisTitle:"Tx Per Sec"};
					include ./includes/line-graph.pug

